<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.case_viewer.mapper.CaseMapper">

    <select id="findCase"
            resultType="com.example.case_viewer.mybatis.entity.Case">

        SELECT
            case_id,
            title,
            description,
            status,
            created_at,
            updated_at
        FROM cases 
        WHERE case_id = #{caseId}
          AND owner_username = #{owner}
          

    </select>

</mapper>